altair==5.2.0
annotated-types==0.6.0
anyio==3.7.1
attrs==23.1.0
blinker==1.7.0
bokeh==3.3.2
Bottleneck @ file:///Users/ec2-user/ci_py311/bottleneck_1678322312632/work
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
contourpy @ file:///Users/ec2-user/ci_py311/contourpy_1678322361099/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
distro==1.8.0
fonttools==4.25.0
gitdb==4.0.11
GitPython==3.1.40
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
importlib-metadata==6.8.0
Jinja2==3.1.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
kiwisolver @ file:///Users/ec2-user/ci_py311/kiwisolver_1678322457192/work
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_42_ot0zpzy/croot/matplotlib-suite_1693812472014/work
mdurl==0.1.2
mkl-fft @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_af8wl3mjfu/croot/mkl_fft_1695058185839/work
mkl-random @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_0fq2s894lk/croot/mkl_random_1695059822529/work
mkl-service==2.4.0
munkres==1.1.4
numexpr @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_c2pokmr868/croot/numexpr_1696515300257/work
numpy @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_b1_7dulbi4/croot/numpy_and_numpy_base_1695830449184/work/dist/numpy-1.26.0-cp311-cp311-macosx_10_9_x86_64.whl#sha256=df7810f057779b4c06be5bdbd7924c5dc5b91a218ad44586e9893864b3ebaae4
openai==1.3.6
packaging @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_2algm5p9lp/croot/packaging_1693575178038/work
pandas @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_26w5pzas3a/croot/pandas_1697477171536/work/dist/pandas-2.1.1-cp311-cp311-macosx_10_9_x86_64.whl#sha256=aff1de29f1a8d39b4c3eeece052d9a3f68b8d38c314d73520346a205f0f28554
Pillow @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_18z8l26k8d/croot/pillow_1696580044342/work
protobuf==4.25.1
pyarrow==14.0.1
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.8.1b0
pydub==0.25.1
Pygments==2.17.2
pyparsing @ file:///Users/ec2-user/ci_py311/pyparsing_1678322828710/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
pytz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_e0y2h1cdsw/croot/pytz_1695131602326/work
PyYAML==6.0.1
referencing==0.31.1
requests==2.31.0
rich==13.7.0
rpds-py==0.13.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sniffio==1.3.0
SpeechRecognition==3.10.1
streamlit==1.29.0
streamlit-bokeh-events==0.1.2
streamlit-mic-recorder==0.0.4
tenacity==8.2.3
toml==0.10.2
toolz==0.12.0
tornado @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_65x80foild/croot/tornado_1696936984963/work
tqdm==4.66.1
typing_extensions==4.8.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal==5.2
urllib3==2.1.0
validators==0.22.0
watchdog==3.0.0
xyzservices==2023.10.1
zipp==3.17.0
